<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
  <%= render("erb", File.read("views/head.erb")) %>
  </head>
  <body>
    <%= render("erb", File.read("views/facebody.erb")) %>
    <%= render("erb", File.read("views/header.erb")) %>
    <h1> You are not a part of any game yet. </h1>
    <ol id="posts" class="clearfix shadow">
      <% @games.each do |game| %>
        <li class="post">
          <div>
            <a href="/game/<%= game['id'] %>"><%= game['name'] %></a>
            <%= game['text'] %>
          </div>
        </li>
      <% end %>
    </ol>
  </body>
</html>