<section class="admin">
    <h1>Game</h1>
    <form id="post" method="post" action="/game">
        <input type="hidden" name="id" value="<%= @game.id %>" />
        <div>
            <input type="text" name="name" value="<%= @game.name %>" placeholder="Name"/>
        </div>
        <div>
            <textarea name="text" rows="20" cols="40" placeholder="Write here..."><%= @game.text %></textarea>
        </div>
        <button type="submit" name="action" value="preview">Preview</button>
        <button type="submit" name="action" value="save">Save</button>
    </form>
    <% if @game.id %>
        <form id="delete" method="post" action="/game/<%= @game.id %>">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Delete</button>
        </form>
        <h2>Created By <%= @game.createdBy %> on <%= @game.creationDate %></h2>
        <h1>Profiles</h1>
        <% @game.profiles.each do |profile| %>   
            <li class="post">
                <div>
                    <%= profile['name'] %>
                    <% player = Player.get(profile.id, @game.id) %>
                    <%= player.id %>
                    <% if player.target %>
                        Target: <%= player.target.id %>
                    <% end %>
                    <% if player.assassin %>
                        Assassin: <%= player.assassin.id %>
                    <% end %>
                    <% if player.friends %>
                        Friends: 
                        <% player.friends.each do |friend| %>
                            <%= friend.id %>
                        <% end %>
                    <% end %>
                </div>
            </li>
        <% end %>
    <% end %>
    
</section>