<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
  <%= render("erb", File.read("views/head.erb")) %>
  </head>
  <body>
    <%= render("erb", File.read("views/facebody.erb")) %>
    <%= render("erb", File.read("views/header.erb")) %>

    <section class="clearfix">
      <% if @user %>
        <div class="thin-wrapper">
          <div id="profile" class="card">
            <img src="https://graph.facebook.com/<%= @profile['id'] %>/picture?type=large"/>
            <div id="info">
              <h1><strong><%= @profile['nickname'] %></strong> (<%= @profile['name'] %>)</h1>
              <h2>Assassin in training</h2>
              <div id="share-app">
                <ul>
                  <li>
                    <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                      <span class="plus">Post to Wall</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                      <span class="speech-bubble">Send Message</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                      <span class="apprequests">Send Requests</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab">
            <h2>Friends</h2>
          </div>
          <div id="friends" class="card">
            <ul>
              <% @friends_using_app.each do |friend_result| %>
                <li>
                  <a href="#" onclick="window.open('http://www.facebook.com/<%= friend_result['uid'] %>')">
                    <img src="<%= friend_result['pic_square'] %>" alt="<%= friend_result['name'] %>">
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </section>
  </body>
</html>
