<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
  <%= render("erb", File.read("views/head.erb")) %>
  </head>
  <body>
    <%= render("erb", File.read("views/facebody.erb")) %>
    <%= render("erb", File.read("views/header.erb")) %>
    <h1> You are not a part of any game yet. </h1>
    <% if @game %>
      <% @games.each do |game| %>
        <li>
          <a href="/game/<%= game['id'] %>">
            <%= game['name'] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </body>
</html>